@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

@mixin attribution {

    margin: 10em 0;
    font-size: 0.7rem;
    text-align: center;
    a 
    {
        color: hsl(228, 45%, 44%);
    }
}